필요한 라이브러리 import

In [20]:
import pandas as pd
from random import choice

데이터 load

In [3]:
data1 = pd.read_csv('./data/잡코리아_자소서_최종.csv')
data2 = pd.read_csv('./data/BERT_자소서_분류.csv')

데이터 병합 후 숫자형으로 변경

In [9]:
data1['cCON'] = data2['cCON']
data1['cEXT'] = data2['cEXT']
data1['cNEU'] = data2['cNEU']
data1 = data1.replace('y', 1)
data1 = data1.replace('n', -1)
data1

,company,Q,A,cCON,cEXT,cNEU
0,(주)두산,"본인의 장/단점과 입사 후 장점은 어떻게 활용되고, 단점은 어떻게 보완 할 수 있겠...",꾸준함꾸준함은 저 자신을 한 단어로 정의한다고 할 때 가장 먼저 표현할 수 있는 단...,1,-1,1
1,(주)두산,"본인의 장/단점과 입사 후 장점은 어떻게 활용되고, 단점은 어떻게 보완 할 수 있겠...",어렸을 때부터 무엇을 하던 남들보다 꼼꼼하게 해내고 싶은 마음에 무엇이든 신중하고 ...,1,-1,1
2,(주)두산,"본인의 장/단점과 입사 후 장점은 어떻게 활용되고, 단점은 어떻게 보완 할 수 있겠...",때문에 무슨 일이든 시작한다면 도중에 무책임하게 피하지 않고 끝까지 맡은 일을 진행...,1,-1,-1
3,(주)두산,"본인의 장/단점과 입사 후 장점은 어떻게 활용되고, 단점은 어떻게 보완 할 수 있겠...",이러한 성격은 공동체 생활에 있어 타인과의 소통과 이를 공감해주는 포용을 중요하게 ...,1,-1,-1
4,(주)두산,"본인의 장/단점과 입사 후 장점은 어떻게 활용되고, 단점은 어떻게 보완 할 수 있겠...","위와 같은 관점으로 행동하기 때문에 간혹 자신의 주관이 흐려질 우려가 있지만, 타인...",1,-1,-1
...,...,...,...,...,...,...
11794,과학기술인공제회,성격의 장단점 및 생활신조,"고교 3학년 선생님이 학급임원이 아니었던 저에게 학급공금을 맡기고 관리하시면서, 네...",1,-1,-1
11795,과학기술인공제회,성격의 장단점 및 생활신조,온정이 미덕인 우리나라 풍조에서 종종 저에게 편법적인 요구를 하시는 분들이 있었습니다 .,1,-1,1
11796,과학기술인공제회,성격의 장단점 및 생활신조,저보다 연장자이시거나 상급자일 때는 더욱 어렵습니다.,1,-1,-1
11797,과학기술인공제회,성격의 장단점 및 생활신조,사소한 것이라 생각하셔서 혹은 문제없을 것이란 이유로 본인 편의를 봐주시길 바라시는...,1,-1,1
11798,과학기술인공제회,성격의 장단점 및 생활신조,"그럴 때마다 저는 심적으로 힘든 입장이지만 원리와 원칙에 충실하였습니다.글자수 1,...",1,-1,-1

사람별 성격 정의 함수

In [29]:
def setMean(total):
    if total > 0: # 총합이 양수면 y
        return 'y'
    if total < 0: # 총합이 음수면 n
        return 'n'
    return choice(['y', 'n']) # 총합이 0이면 y, n 중 랜덤 선택

데이터프레임 생성

In [43]:
data = pd.DataFrame(columns = ['company', 'Q', 'cCON', 'cEXT', 'cNEU'])
data

Empty DataFrame
Columns: [company, Q, cCON, cEXT, cNEU]
Index: []

사람별 성격 분류: 회사&질문이 같으면 같은 사람으로 판별 후 성격 분류

In [44]:
company, question, c, e, n = data1.loc[0][0], data1.loc[0][1], 0, 0, 0
for i in range(len(data1)):
    target = data1.loc[i]
    if (company, question) == (target[0], target[1]):
        c += int(target[3])
        e += int(target[4])
        n += int(target[5])
    else:
        data.loc[len(data)] = [company, question, setMean(c), setMean(e), setMean(n)]
        company, question, c, e, n = target[0], target[1], 0, 0, 0
data.loc[len(data)] = [company, question, setMean(c), setMean(e), setMean(n)]

In [48]:
df = data[['cCON', 'cEXT', 'cNEU']] # row당 한 사람의 성격 데이터
df

     cCON cEXT cNEU
0       y    n    n
1       y    y    n
2       y    n    n
3       y    n    n
4       y    n    n
...   ...  ...  ...
1457    y    n    n
1458    y    n    n
1459    y    n    n
1460    y    n    n
1461    y    n    n

[1462 rows x 3 columns]

데이터 save

In [ ]:
df.to_csv('자소서_사람별_성격.csv', index=False)